body {
    color: #212529;
    background-color: #ffffff;
    font-family: "OpenSans", sans-serif !important;
}

h1 {
    margin: 13px 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: #404040;
}
